button{
    padding: 5px 30px;
    background-color: aquamarine;
    border: 2px groove violet;
    color: #ff0000;
    border-radius: 15px;
}
button:hover{
background-color: rgb(243, 0, 0);
color: rgb(0, 254, 216);
border: 2px groove blue;

}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: yellow;
}
h1{
    text-align: center;
}
